# Python / Django
venv/
__pycache__/
*.pyc
db.sqlite3

# Environment variables
.env

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
